<header>
  {{>nav}}
</header>
<div id="plant-page">
  <h2>Plant details</h2>
  <img class="plant-img" src={{image}}>
  <h3>{{ common_name }}</h3>
  <div>
    <p>
      Scientific name: {{ scientific_name }}
    </p>
  </div>
  <div>
    <p>
      Skill level: {{ skill_level }}
    </p>
  </div>
  <div>
    <p>
      Water: {{ water }}
    </p>
  </div>
  <div>
    <p>
      Sunlight: {{sunlight}}
    </p>
  </div>
  <div>
    <p>
      Temperature and humidity: {{ temperature_humidity }}
    </p>
  </div>
  <div>
    <p>
      Cost: {{ cost }}
    </p>
  </div>
  <div>
    <p>
      Care instructions: {{ care_instructions }}
    </p>
  </div>
</div>