<header>
  {{>nav}}
</header>
<div id="plant-page">
  <h2>Plant details</h2>
  <img class="plant-img" src={{image}}>
  <h3>{{ common_name }}</h3>
  <div>
    <p>
      <strong>Scientific name:</strong> {{ scientific_name }}
    </p>
  </div>
  <div>
    <p>
      <strong>Skill level:</strong> {{ skill_level }}
    </p>
  </div>
  <div>
    <p>
    <strong>Water:</strong> {{ water }}
    </p>
  </div>
  <div>
    <p>
    <strong>Sunlight:</strong> {{sunlight}}
    </p>
  </div>
  <div>
    <p>
    <strong>Temperature and humidity:</strong> {{ temperature_humidity }}
    </p>
  </div>
  <div>
    <p>
    <strong>Cost:</strong> {{ cost }}
    </p>
  </div>
  <div>
    <p>
    <strong>Care instructions:</strong> {{ care_instructions }}
    </p>
  </div>
</div>